body{
    cursor: pointer;
    padding: 0px;
    align-items: center;
    text-align: center;
    background-color:seashell;
}
.header{
    display: flex;
    padding-left: 10%;
}
div{
    background-color: green;
    align-items: center;
    margin: auto;
}
input{
    width: 95%;
    height: 20px;
    margin: 5px;
    text-align:left;
    border: none;
    height: 3rem;
    padding: 5px;
    background-color: aliceblue;
}
#login{
    text-align: center;
    background-color: green;
    transition: all 1s;
}

#form{
    margin-top: 20px;
    width: 30%;
    align-items: center;
    padding: 1%;
    padding-top: 3px;
    margin:auto;
    background-color:white;
    animation-name: load;
    animation-duration: 1s;
}
.footnote{
    text-align: left;
}
#sponsor{
    margin-top: 20px;
}

a{
    text-decoration: none;
    color: red;
}
#schoolname{
margin-top: 50px;
margin-bottom: 50px;
}


.rounded-passport-photo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
